body {
    font: 85%/150% Arial, Helvetica, sans-serif;
    width: 900px;
    margin: 0 auto;
}

img {
    border: none;
    width: 400px;
    height: auto;
}

a {
    text-decoration: none;
    color: #808080;
}

a:hover {
    color: #000;
}

h2 {
    margin: 40px 0 15px;
}

.block {
    width: 400px;
    height: auto;
    padding: 5px;
    border: solid 1px #ccc;
    position: relative;
    margin-right: 10px;
    float: left;
}

.block p {
    margin: 0;
}

.links {
    text-align: center;
    background: #faf0e6;
    border: solid 1px #d2b48c;
    width: 90%;
    padding: 5px 0;
    position: absolute;
    bottom: 20px;
    left: 5%;
    display: none;
}

.block:hover .links {
    display: block;
}

