<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
    <head> 
        <title>gallery</title> 
        <link href="/site_media/common.css" rel="stylesheet" type="text/css">
    </head> 
    <body>

        <h2>Finished!</h2> 

        <p>You said that the image on the left was close to the image on the right after {{ iterations }} iterations.<br />Thanks for playing!</p> 
        <p><a href="/start">Search again</a>.</p>

        <div class="block"> 
            <p><img src="{{ target }}" alt="target image" /></p>
        </div>

        <div class="block"> 
            <p><img src="{{ image }}" alt="user selected image" /></p>
        </div>


    </body> 
</html> 
