<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
    <head> 
        <title>gallery</title>
		<link href="/site_media/common.css" rel="stylesheet" type="text/css">
    </head>
	
    <body>
        <h2>Welcome to Image Search</h2> 
		
        <p>Blurb about search paradigm.<br />Use this search engine to find an image that looks similar to the image below.</p> 
		
        <p>
            <form action="/search/start" method="get">
                Which algorithm to run:
                <select name="algorithm">
                    <option value="dirchlet">Dirchlet</option>
                    <option value="auer">Auer</option>
                    <option value="random">Random</option>
                </select>
                <br />
                How many images to show each iteration:
                <select name="num">
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <br />
                <br />
                <input type="submit" value="Let's go!">
                <br />
                <br />
                <input type="checkbox" name="debug" value="1">Debug mode (show distances on hover)</input>
                <!--
                <br />
                <input type="checkbox" name="random" value="1">Random mode (do not use dirchlet algorithm)</input>
                -->
            </form>
        </p>
		
		<div class="block"> 
            <p><img src="{{ image }}" alt="target image" /></p>
        </div>
		
    </body> 
</html> 
